.form {
    margin-top: 100px;
    margin-bottom: 50px;
    align-self: stretch;

    &__title {
        display: block;
        text-align: center;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-weight: 800;
        font-size: 30px;
    }

    &__input {
        border-bottom: 1px solid #C283F3;
        width: 400px;
        padding: 10px 20px;
        margin-top: 15px;
&::placeholder{
    font-weight: 400;
    font-size: 18px;
    color: #000;
}
    font-size: 20px;
    &[type=date]:invalid::-webkit-datetime-edit {
        font-weight: 400;
    font-size: 18px;
    color: #000;
    }
    }

    &__input--name {
    }

    &__input--faculty {
    }

    &__btn {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid #9D5CD0;
        font-size: 25px;
        border-radius: 20px;
        &:hover{
            transition: background-color, .3s;
            background-color: #7943A4;
            color: #fff;
        }
    }
    &__error{
        font-size: 25px;
        font-weight: 800;
        display: block;
        text-align: center;
        margin-top: 20px;
        color: red;
    }
}
